.flip-card {
    width: 220px;
    height: 210px;
    margin: 20px;
    perspective: 1000px;
    color: white;  
}
.flip-card p{
    font-size: 18px;
    text-align: left;
    padding: 10px;
    margin: 10px;
    padding-top: 0px;
    color: white;
    pointer-events: none;
}
.flip-card h3{
    text-align: center;
    padding: 10px;
    margin: 10px;
    padding-top: 0px;
    color: white;
}
.flip-card-inner {
    background-color:rgb(67, 33, 101);
    box-shadow: 3px 3px 5px #646464;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
}

.flip-card-back {
    transform: rotateY(180deg);
}


@media (max-width: 768px) {
    .flip-card {
        margin: 20px;
    }   
}