.CardService{
    background-color:rgb(216, 221, 226);
    border-radius: 8px;
    width: 200px;
    height: 190px;
    margin: 40px;
}
.CardService p{
    font-size: 20px;
    text-align: left;
    padding: 10px;
    margin: 10px;
    color: black;
}