.dFlexService{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    width: 900px;
}
@media (max-width: 768px) {
    .dFlexService{
        width: 100%;
        height: 100%;
    }
    .text {
        margin: auto;
        width: auto;
        font-size: 18px;
        padding: 10px 30px 10px 30px;
    }
}