.ContainerTL {
    margin: 12px;
    height: 140px;
    background: linear-gradient(45deg, rgba(46,36,71,1) 10%, rgba(111,35,143,1) 47%, rgb(1, 113, 233) 80%, rgb(4, 73, 148) 95%);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-size: 300% 100%; /* Divide el gradiente entre 3 elementos, puedes ajustar este valor */
    background-position: left center; /* Inicialmente posicionado en el inicio del gradiente */
    transition: background-position 0.5s ease; /* Para una transición suave si es necesario */
  }
  
  .ContainerTL:nth-child(1) {
    background-position: left center; /* Primer elemento, primera parte del gradiente */
  }
  
  .ContainerTL:nth-child(2) {
    background-position: center center; /* Segundo elemento, parte central del gradiente */
  }
  
  .ContainerTL:nth-child(3) {
    background-position: right center; /* Tercer elemento, parte final del gradiente */
  }
  .ContainerTL:nth-child(4) {
    background-position: left center; /* Tercer elemento, parte final del gradiente */
  }
  .ContainerTL:nth-child(5) {
    background-position: center center; /* Tercer elemento, parte final del gradiente */
  }

  .ContainerTL:nth-child(6) {
    background-position: right center;  /* Primer elemento, primera parte del gradiente */
  }

  .ContainerTL:nth-child(7) {
    background-position: left center; /* Tercer elemento, parte final del gradiente */
  }
  
  .ContainerTL:nth-child(8) {
    background-position: center center; /* Segundo elemento, parte central del gradiente */
  }
  
  .ContainerTL:nth-child(9) {
    background-position: right center; /* Tercer elemento, parte final del gradiente */
  }

  .ContainerTL:nth-child(10) {
    background-position: left center; /* Tercer elemento, parte final del gradiente */
  }

  .ContainerTL:nth-child(11) {
    background-position: center center; /* Segundo elemento, parte central del gradiente */
  }
  
  .ContainerTL:nth-child(12) {
    background-position: right center; /* Tercer elemento, parte final del gradiente */
  }
  
.ContainerTL h3{
    margin: 0px;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
    pointer-events: none;
}
.tecnologyL{
    width: 50px;
    height: 50px;
}
.buttonSkill{
    width: 36px;
    font-weight: bold;
    border: none;
    height: 100%;
    padding: 0px;
    background-color: transparent;
}
.buttonSkill:hover{
    background-color: rgba(46,36,71,1);
    cursor: pointer;
    transition: 1s;
}
.buttonSkill img{
    width: 30px;
    height: 30px;
    margin: 0px;
}
.widthSkill{
    width: 120px;
}

.textSkillInvisible{
    width: 0;
    overflow: hidden;
    opacity: 0;
    transition: width 1.5s, opacity 2s;
    text-align: justify;
    pointer-events: none;
}
.textSkillVisible{
    width: 270px;
    overflow: hidden;
    opacity: 1;
    transition: width 1.5s, opacity 2s;
    pointer-events: none;
}
.textSkillInvisible, .textSkillVisible{
    color: white;
}
.textSkill1, .textSkill5, .textSkill9, .textSkill10{
    width: 270px;
    opacity: 1;
    transition: width 1.5s, opacity 2s;
}
#tecnologyL1, #tecnologyL5, #tecnologyL9, #tecnologyL10{
    rotate: 180deg;
}
@media (max-width: 768px) {
    .textSkillVisible{
        width: 180px;
    }
    .textSkill1, .textSkill4, .textSkill7, .textSkill10{
        width: 180px;
        opacity: 1;
        transition: width 1.5s, opacity 2s;
    }
    #tecnologyL4, #tecnologyL7{
        rotate: 180deg;
    }
    #tecnologyL5, #tecnologyL9, #tecnologyL10{
        rotate: 0deg;
    }
    .textSkill5, .textSkill9{
        width: 0;
        overflow: hidden;
        opacity: 0;
    }
}