.ContainerTL {
    margin: 12px;
    height: 130px;
    min-width: 130px;
    padding-left: 15px;
    padding-right: 15px;
    background: linear-gradient(45deg, rgba(46,36,71,1) 2%, rgb(136, 43, 176) 47%, rgb(1, 113, 233) 80%, rgb(4, 73, 148) 98%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-size: 300% 100%; /* Divide el gradiente entre 3 elementos, puedes ajustar este valor */
    background-position: left center; /* Inicialmente posicionado en el inicio del gradiente */
    transition: background-position 0.5s ease; /* Para una transición suave si es necesario */
}
.ContainerTL :hover{
    cursor: pointer;
}
  
.ContainerTL:nth-child(3n + 1) {
    background-position: left center;
}
.ContainerTL:nth-child(3n + 2) {
    background-position: center center;
}
.ContainerTL:nth-child(3n + 3) {
    background-position: right center;
}

.ContainerTL h3{
    margin: 0px;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
    pointer-events: none;
}
.tecnologyL{
    width: 56px;
    height: 56px;
}
.buttonSkill{
    width: 36px;
    font-weight: bold;
    border: none;
    height: 100%;
    padding: 0px;
    background-color: transparent;
}
.buttonSkill:hover{
    background-color: rgba(46,36,71,1);
    cursor: pointer;
    transition: 1s;
}
.buttonSkill img{
    width: 30px;
    height: 30px;
    margin: 0px;
}
.widthSkill{
    width: 120px;
}
.textSkillInvisible{
    width: 0;
    overflow: hidden;
    opacity: 0;
    transition: width 1.5s, opacity 2s;
    text-align: justify;
    pointer-events: none;
}
.textSkillVisible{
    width: 270px;
    overflow: hidden;
    opacity: 1;
    transition: width 1.5s, opacity 2s;
    pointer-events: none;
}
.textSkillInvisible, .textSkillVisible{
    color: white;
}
.textSkill1, .textSkill5, .textSkill9, .textSkill10{
    width: 270px;
    opacity: 1;
    transition: width 1.5s, opacity 2s;
}
#tecnologyL1, #tecnologyL5, #tecnologyL9, #tecnologyL10{
    rotate: 180deg;
}

@media (max-width: 768px) {
    .ContainerTL {
      height: 140px;
      min-width: 120px;
    }
    .textSkillVisible{
        width: 180px;
    }
    .textSkill1, .textSkill4, .textSkill7, .textSkill10{
        width: 180px;
        opacity: 1;
        transition: width 1.5s, opacity 2s;
    }
    #tecnologyL4, #tecnologyL7{
        rotate: 180deg;
    }
    #tecnologyL5, #tecnologyL9, #tecnologyL10{
        rotate: 0deg;
    }
    .textSkill5, .textSkill9{
        width: 0;
        overflow: hidden;
        opacity: 0;
    }
}