.SocialComponent{
    width: 300px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.SocialComponent img{
    width: 80px;
    height: 70px;
    margin: 5px;
}
.SocialComponent img:hover{
    background-color: rgb(175, 171, 177);
}
.SocialComponent p{
    width: 180px;
    font-size: 16px;
    padding-top: 15px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.SocialComponent a{
    width: 180px;
    font-size: 16px;
    padding-top: 22px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}