.SocialComponent{
    display: flex;
    align-items: center;
    margin: 10px;
}
.SocialComponent img{
    width: 50px;
    height: 40px;
    margin: 5px;
}
.SocialComponent img:hover{
    background-color: rgb(175, 171, 177);
}
.SocialComponent p{
    font-size: 16px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: start;
}
.SocialComponent a{
    font-size: 16px;
    overflow-wrap: break-word;
}
#Contact .text{
    text-align: start;
    width: 520px;
    font-size: 18px;
    padding: 15px;
}