#proyect2, #proyect3, #proyect4{
    display: none;  
    margin: auto;
    margin-top: 20px;
}
#proyect1{
    display: block;
    margin: auto;
    margin-top: 20px;
}
.listProyects{
    font-size: 20px;
    list-style-type: none;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 20px;
}
.listProyects li{
    margin: 12px;
}
.dark-mode .listProyects li{
    color: white;
}
.listProyects li:hover{
    cursor: pointer;
    color: #007bff;
}

#proyectLi1{
    background-color: rgb(59, 55, 94);
}

@media (max-width: 768px) {
    .listProyects{
        width: 320px;
        font-size: 20px;
        list-style-type: none;
        font-weight: bold;
        margin: auto;
    }
}