.proyectListContainer{
    margin: auto;
    width: 1000px;
    display: flex;
}

@media (max-width: 768px) {
    .proyectListContainer{
        width: 100%;
        display: block;
    }
}