@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
.presentation{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 40px;
}
.presentation img{
    width: 74%;
    height: 90%;
    border-radius: 50%;
    padding-left: 35px;
    padding-bottom: 35px;
}
.imgPresentation{
    background: rgb(90,25,117);
    background: rgb(46,36,71);
    background: linear-gradient(45deg, rgba(46,36,71,1) 15%,
    rgba(111,35,143,1) 40%, rgba(0,123,255,1) 80%);
    border-radius: 55% 45% 33% 67% / 49% 77% 23% 51% ;
    height: 80%;
    width: 42%;
    margin-top: auto;
    margin-bottom: auto;
    filter: drop-shadow(10px 8px 6px rgb(9, 9, 9));
    display: flex;
    justify-content: center;
    align-items: center;
}
.presentationText{
    padding: 10px;
    width: 40%;
    margin-top: auto;
    margin-bottom: auto;
}
.presentation p{
    font-size: 18px;
    pointer-events: none;
    width: 80%;
}
@keyframes blink {
    50% { border-color: transparent }
}
@keyframes typing {
    from { width: 0 }
}
span{
    display: flex;
    justify-content: center;
    align-items: center;
}
span h2 {
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 394px;
    font-size: 36px;
    animation: typing 2s steps(18), blink .5s infinite step-end alternate;
    overflow:hidden;
    margin: 10px;
    color: white;
}
.light-mode span h2{
    color: black;
}
.jobTitle{
    color: rgb(127, 5, 179);
    font-size: 38px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 14px;
    font-family: 'Pixelify Sans', sans-serif;
}
.greet{
    color: rgb(127, 5, 179);
    font-size: 40px;
    font-weight: bold;
    margin: 0px
}

@media (max-width: 768px) {
    .presentation{
        display: block;
        height: 100%;
        padding-top: 30px;
    }
    .imgPresentation{
        width: 74%;
        margin: auto;
        margin-top: 15px;
        filter: drop-shadow(6px 6px 3px red);
    }
    .presentation img{
        width: 75%;
        height: 220px;
        padding: 10px;
        border-radius: 200px;
    }
    .presentationText{
        width: 86%;
        margin:auto
    }
    .greet{
        margin-top: 10px
    }
    .presentation p{
        font-size: 18px;
        width: 100%;
    }
    span h2 {
        width: 290px;
        font-size: 26px;
        animation: typing 2s steps(18), blink .5s infinite step-end alternate;
        overflow:hidden;
    }
    .jobTitle{
        font-size: 34px;
    }
    #homeVh{
        height: 100%;
    }
      
}