.displayFlex{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 94vh;
}
.imgPresentation{
    width: 280px;
    height: 400px;
    padding: 10px;
}
.presentation{
    padding: 10px;
    padding-top: 0px;
    width: 70vh;
}
.tecnologies{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}