.section{
    display: flex;
    justify-content: center;
}
img{
    width: 280px;
    height: 210px;
    border-radius: 2px;
    margin: 10px;
}
.buttonCL{
    display: flex;
    justify-content: flex-end;
}
.pages{
    background-color: #007bff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    margin-right: 0px;
    border-radius: 5px;
    width: 100px;
    padding: 1px;
    color: white;
}
.pages:hover{
    background-color: #133962;
    transition: 1000ms;
}
a img{
    width: 25px;
    height: 25px;
    margin: 0px;
}
.with200{
    width: 430px;
    font-size: 18px;
    margin-top: 5px;
    text-align: justify;
    color: white;
}
#miDiv1, #miDiv2, #miDiv3, #miDiv4{
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 0.5s, opacity 0.5s;
}
.buttonTecnologies{
    border-radius: 3px;
    width: 430px;
    border: none;
    background-color:rgb(77, 38, 117);
    color: white;
    padding: 6px;
    margin-bottom: 10px;
    font-size: 16px;
    cursor: pointer;
}
.buttonTecnologies:hover{
    background-color: rgb(56, 48, 62);
    transition: 1000ms;
}
.eqi{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media (max-width: 768px) {
    img{
        width: 260px;
        height: 190px;
        margin: 0px;
    }
    .pages{
        margin: 10px;
    }
    .section{
        display: block;
        margin-top: 10px;
    }
    .with200{
        width: 92%;
        margin: auto;
    }
    .buttonTecnologies{
        width: 225px;
    }
    .tecnologies{
        margin: 0px 55px 0px 55px;
        border-color: rgb(59, 55, 94);
        border-style: solid;
        border-radius: 15px;
    }
    .buttonCL{
        justify-content: center;
    }
}
