.section{
    display: flex;
    justify-content: center;
}
img{
    width: 200px;
    height: 150px;
    border-radius: 15px;
    margin: 10px;
}
.dFlex{
    display: flex;
}
.proyects{
    background-color: rgb(175, 171, 177);
    border-radius: 10px;
    margin: 20px;
    margin-bottom: 55px;
    color: black;
    height: 231px;
}
.proyects h3{
    margin: 0px;
    padding: 6px;
}
.pages{
    background-color: #005dc1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
    border-radius: 5px;
    width: 90px;
    padding: 1px;
    color: white;
}
.pages:hover{
    background-color: #154374;
}
a img{
    width: 25px;
    height: 25px;
    margin: 0px;
}
.with200{
    width: 210px;
}
#miDiv1, #miDiv2, #miDiv3, #miDiv4{
    display: none;  
}
.buttonTecnologies{
    border-radius: 3px;
    width: 450px;
    border: none;
    background-color: rgb(85, 77, 91);
    color: white;
    padding: 4px;
    font-size: 14px;
}
.buttonTecnologies:hover{
    background-color: rgb(56, 48, 62);
}