.ContainerTL{
    width: 180px;
    margin: 14px;
    background: linear-gradient(45deg, rgba(46,36,71,1) 15%, rgba(111,35,143,1) 40%, rgba(0,123,255,1) 80%);;
    border-radius: 5px;
}
.ContainerTL h3{
    margin: 0px;
    font-size: 22px;
    font-weight: bold;
}
.tecnologyL{
    width: 50px;
    height: 50px;
}
.XD{
    width: 100%;
}
