.proyectsContainer{
    width: 660px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .proyectsContainer{
        width: 100%;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
    }
}

/* Animación de deslizamiento de izquierda a derecha */
@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-in {
    animation: slideIn 0.5s ease forwards; /* Cambia la duración aquí */
}
